* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #cfcaca;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 0;
  padding: 20px;
}

.Login {
  height: 200px;
  width: 350px;
  background-color: none;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

.tbox {
  margin-top: 11px;
  padding: 7px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid grey;
  text-align: center;
}

.input-group {
  width: 90%;
  display: flex;
  align-items: center;
  position: relative;
}

.input-group-addon {
  position: absolute;
  left: 10px;
  color: #666;
  z-index: 1;
}

.input-group .tbox {
  padding-left: 35px;
  width: 100%;
}

#Button1 {
  cursor: pointer;
  margin-top: 19px;
  width: 60%;
  margin-left: 20px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: white;
}

#Button1:hover:not(:disabled) {
  background-color: azure;
}

#Button1:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.mark {
  color: tomato;
  font-size: 0.85rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mark h1 {
  font-family: 'Lucida Calligraphy', cursive;
  color: black;
}

