.history-container {
  margin: 20px 50px;
}

.history-form {
  margin-bottom: 30px;
}

.history-form label {
  font-size: small;
}

.history-table-container {
  text-align: center;
  margin-left: 50px;
  overflow-x: auto;
}

.history-table {
  width: 100%;
  max-width: 1175px;
  border-collapse: collapse;
  font-size: small;
  background-color: #CCCCCC;
  border: 3px solid #999999;
}

.history-table th {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  border: 1px solid #999;
}

.history-table td {
  background-color: #fff;
  padding: 8px;
  border: 1px solid #999;
}

.history-table tr:hover {
  background-color: #f1f1f1;
}

