.blinking-warning {
  background-color: #ff4444;
  color: white;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0.5;
  }
}

.ok {
  background-color: #28a745;
  color: white;
}

